* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --card-width: 400px;
  --card-height: 300px;
  --card-transition-duration: 800ms;
  --card-transition-easing: ease;
}
img {
 width: 100%;
 height: auto;
}

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */
/* body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.787);
  overflow: hidden;
} */
/* button {
  border: none;
  background: none;
  cursor: pointer;
} */
button:focus {
  outline: none;
  border: none;
}
.app {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -5;
  filter: blur(8px);
  pointer-events: none;
  user-select: none;
  overflow: hidden;
}
.app__bg::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* background: #000; */
  z-index: 1;
  opacity: 0.8;
}
.app__bg__image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) translateX(var(--image-translate-offset, 0));
  width: 180%;
  height: 180%;
  transition: transform 1000ms ease, opacity 1000ms ease;
  overflow: hidden;
}
.app__bg__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.app__bg__image.current--image {
  opacity: 1;
  --image-translate-offset: 0;
}
.app__bg__image.previous--image, .app__bg__image.next--image {
  opacity: 0;
}
.app__bg__image.previous--image {
  --image-translate-offset: -25%;
}
.app__bg__image.next--image {
  --image-translate-offset: 25%;
}
.cardList {
  position: absolute;
  width: calc(3 * var(--card-width));
  height: auto;
}
.cardList__btn {
  --btn-size: 60px;
  width: var(--btn-size);
  height: var(--btn-size);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}
.cardList__btn.btn--left {
  left: -5%;
  border:  0 none;
}
.cardList__btn.btn--right {
  right: -5%;
  border:  0 none;
}
.cardList__btn .icon {
  width: 100%;
  height: 100%;
}
.cardList__btn .icon svg {
  width: 100%;
  height: 100%;
  
}
.cardList .cards__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}
.card {
  background-color: transparent;
  --card-translateY-offset: 100vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) translateX(var(--card-translateX-offset)) translateY(var(--card-translateY-offset)) rotateY(var(--card-rotation-offset)) scale(var(--card-scale-offset));
  display: inline-block;
  width: var(--card-width);
  height: var(--card-height);
  transition: transform var(--card-transition-duration) var(--card-transition-easing);
  user-select: none;
}
.card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1;
  transition: opacity var(--card-transition-duration) var(--card-transition-easing);
  opacity: calc(1 - var(--opacity));
}
.card__image {
  position: relative;
  width: 100%;
  height: 100%;
}
.card__image img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}
.card.current--card {
  --current-card-rotation-offset: 0;
  --card-translateX-offset: 0;
  --card-rotation-offset: var(--current-card-rotation-offset);
  --card-scale-offset: 1.2;
  --opacity: 0.8;
  width: 400px;
  height: 300px;

  border: 0 none;
  background-color: transparent;
}
.card.previous--card {
  --card-translateX-offset: calc(-1 * var(--card-width) * 1.1);
  --card-rotation-offset: 25deg;
  width: 400px;
  height: 300px;
  border: 0 none;
  background-color: transparent;
}
.card.next--card {
  --card-translateX-offset: calc(var(--card-width) * 1.1);
  --card-rotation-offset: -25deg;
  width: 400px;
  height: 300px;

  border: 0 none;
  background-color: transparent;
}
.card.previous--card, .card.next--card {
  --card-scale-offset: 0.9;
  --opacity: 0.4;
}

@media only screen  and (max-width : 375px) { 

  .cards__wrapper{
    /* width: 25%; */
  }
}
/* .infoList {
  position: absolute;
  width: calc(3 * var(--card-width));
  height: var(--card-height);
  pointer-events: none;
} */
.infoList .info__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  /* perspective: 1000px; */
  /* transform-style: preserve-3d; */
}

.info {
  margin-bottom: calc(var(--card-height) / 8);
  margin-left: calc(var(--card-width) / 1.5);
  /* transform: translateZ(2rem); */
  /* transition: transform var(--card-transition-duration) var(--card-transition-easing); */
}
/* .info .text {
  position: relative;
  font-family: "Montserrat";
  font-size: calc(var(--card-width) * var(--text-size-offset, 0.2));
  white-space: nowrap;
  color: #fff;
  width: fit-content;
} */
.info .name, .info .location {
  text-transform: uppercase;
}
.info .location {
  font-weight: 800;
}
.info .location {
  --mg-left: 40px;
  --text-size-offset: 0.12;
  font-weight: 600;
  margin-left: var(--mg-left);
  margin-bottom: calc(var(--mg-left) / 2);
  padding-bottom: 0.8rem;
}
.info .location::before, .info .location::after {
  content: "";
  position: absolute;
  background: #fff;
  left: 0%;
  transform: translate(calc(-1 * var(--mg-left)), -50%);
}
.info .location::before {
  top: 50%;
  width: 20px;
  height: 5px;
}
.info .location::after {
  bottom: 0;
  width: 60px;
  height: 2px;
}
.info .description {
  --text-size-offset: 0.065;
  font-weight: 500;
}
.info.current--info {
  opacity: 1;
  display: block;
}
.info.previous--info, .info.next--info {
  opacity: 0;
  display: none;
}
.loading__wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: #000; */
  z-index: 200;
}
.loading__wrapper .loader--text {
  color: #fff;
  font-family: "Montserrat";
  font-weight: 500;
  margin-bottom: 1.4rem;
}
.loading__wrapper .loader {
  position: relative;
  width: 200px;
  height: 2px;
  background: rgba(255, 255, 255, 0.25);
}
.loading__wrapper .loader span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transform: scaleX(0);
  transform-origin: left;
}
@media only screen and (min-width: 800px) {
  :root {
    --card-width: 400px;
    --card-height: 400px;
 }
}
.support {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 10px;
  display: flex;
}
.support a {
  margin: 0 10px;
  color: #fff;
  font-size: 1.8rem;
  backface-visibility: hidden;
  transition: all 150ms ease;
}
.support a:hover {
  transform: scale(1.1);
}
  
     
     @media (min-width: 992px)
     {.link-container{background:none;border:0;box-sizing:border-box;position:relative;vertical-align:middle;padding:1em}.link-container::before,.link-container::after{box-sizing:inherit;content:'';position:absolute;width:100%;height:100%}.link-container::before,
     .link-container::after{
       top:0;left:0;height:100%;width:100%;-webkit-transform-origin:center;-ms-transform-origin:center;transform-origin:center}
     .link-container::before{
       border-top:2px solid #E73786;border-bottom:2px solid #E73786;-webkit-transform:scale3d(0, 1, 1);transform:scale3d(0, 1, 1)}
     .link-container::after{
       border-left:2px solid #E73786;border-right:2px solid #E73786;-webkit-transform:scale3d(1, 0, 1);transform:scale3d(1, 0, 1)}.link-container:hover::before,.link-container:hover::after{-webkit-transform:scale3d(1, 1, 1);transform:scale3d(1, 1, 1);-webkit-transition:-webkit-transform 0.35s;transition:-webkit-transform 0.35s;transition:transform 0.35s;transition:transform 0.35s, -webkit-transform 0.35s}}
    
     @media (prefers-reduced-motion: reduce)
     {.btn{-webkit-transition:none;
            transition:none}}
     
   
     
     .service-btn-homepage{text-decoration:none !important;color:#1F2040;cursor:pointer}
     .service-btn-homepage:hover .service-name{color:#E73786}
     .service-btn-homepage:hover svg path{fill:#E73786 !important}
     .service-btn-homepage .service-name{-webkit-transition:color 0.15s ease-in-out;transition:color 0.15s ease-in-out}
     
    


body{
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  background-color: #F2F2F2;
}

@media only screen  and (max-width : 375px) { 
body{
  overflow-x: hidden;
}

}

h1 {
  color: #f2f2f2;
  text-align: center;
  font-weight: bold;
  /* font-family: "Poppins", sans-serif; */
}

a {
  text-decoration: none;
}

.tablet{
  width: 660px;  position: relative;   margin-top: 9%;
}

@media only screen  and (max-width : 375px) { 
.tablet{
  width: 250px;
  /* position: relative; */
     margin-top: 5%;
     margin-left: 30px;
}

}

.button1 {
  margin-left: 700px;
  margin-top: 30px;
  color: #f2f2f2;
  border: transparent;
  border-radius: 50px;
  position: relative;
}

@media only screen  and (max-width : 375px) { 
  .button1{
margin-left: 45px;
  }

}


.whyloyalty{
  font-size: 4.5rem; color: #1F2040; margin-top: 60px; font-weight: 700; margin-bottom: 100px;
}

.leftShape{
  width: 650px;  position: absolute;
}

@media only screen and (max-width : 375px) { 

.whyloyalty{
  font-size: 2rem;
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 50px;
}
.leftShape{
  /* margin-left: 20px; */
  width:320px ;
  
}



}


.btnconatiner{
  text-align: center;
   
}

.button2 {
  margin-left: 19px;
  margin-top: 30px;
  margin-right: 25px;
  color: #f2f2f2;
  border: transparent;
  border-radius: 50px;
  position: relative;
}
/* Pricing page styling */

/* .button22 {
  margin-left: 19px;
  margin-top: 50px;
  margin-right: 25px;
  color: #f2f2f2;
  border: transparent;
  border-radius: 50px;
} */


.button3{
  color: #f2f2f2;
  border: transparent;
  margin-top: 30px;
  border-radius: 50px;
  position: relative;
}

/*  */

/* .popupbtn{
  margin-left: 90px;
  font-size: 20px;
  text-decoration: underline;
  cursor: pointer ;
  color: #E73786;
  position: relative;
} */

.slogan {
  width: 500px;
  margin-top: -40px;
  /* margin-right: 700px; */
  font-size: 47px;
  text-align: left;
  font-family: 'Dancing Script', cursive;
  margin-left: 90px;
  margin-bottom: 30px;
  color: #1F2040;
 
}

@media only screen and (max-width : 375px) { 
  
  
 .slogan{
   font-size:18px ;
   position: relative;
   margin-left: 90px;
   margin-top: -30px;
   color: white;
   /* text-align: center; */
 }
  
  }

.joinUsBtn {
  border-radius: 50px;
  font-size: 20px;
  padding-left: 23px;
  padding-right: 23px;
  margin-top: 30px;
  /* margin-left: 100px; */
  background-color: #E73786;
  border: none;
  color: white;
  
}

.joinUsBtn:hover{
  background-color: 
  #7E7E7E;
  color: #000;
}

.contentTitle{
  color: #E73786; 
  font-weight: 600; 
  font-size: 20px; 
  margin-bottom: 10px;
}

.content1{
  margin-top: 120px;
}

.content1,.content2,.content3{
  width:370px ;
   margin-bottom: 80px;
}

.whyLoyaltyContant{
  margin-left: 830px;
   margin-top: 1%;
}
.section1div{
  display: flex;
}
.section1{
  margin-bottom: 100px;
}

.contentP{
  color:#1F2040;

}

.explore{
  font-size: 4.5rem; color: #1F2040; margin-top: 60px; font-weight: 700; margin-bottom: 100px;
}
.exploreContainer{
  display:flex; width: 900px; flex-wrap: wrap;  justify-content: space-around; margin-bottom: 300px; position: relative; margin-left: auto; margin-right: auto;
}
.exploreTitle{
  width: 200px; margin-right: 30px;
}
.fitness{
  text-align: center; font-size: 24px;
}

@media only screen  and (max-width : 375px) { 

  .fitness{
    text-align: center; font-size: 15px;
  }
  .exploreTitle{
    width: 400px;
  }
  .exploreContainer{
    width: 300px;
  }

  .content1,.content2{
    margin-bottom: 30px;
  }
.contentP{
  font-size: 12px;
  width: 200px;
}

  .contentTitle{
    font-size: 15px;
  }

  .joinUsBtn{
    text-align: center;
    margin-right: 0px;
    font-size: 15px;
    margin-top: 0px;
    margin-left: 20px;
    
  }

  .section1div{
    display: inline-block;
  }
  .section1{
    margin-bottom: 30px;
  }

  .whyLoyaltyContant{
    margin-left: 10px;
    margin-top: 350px;
  }
  .explore{
    font-size: 2rem;
   margin-top: 0px;
    margin-bottom: 50px;
  }
  
  }





.section2 {
  min-height: 120vh;
  background-image: url("./img/ssss.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 30px;
}

.flipLandingPageLogo{
  /* text-align: center; */
  margin-left: 23%;
  
}



.rightshape{
  width: 700px;
  position: absolute;
  margin-left: 50%;
}


@media only screen  and (max-width : 375px) { 

  .rightshape{
    width: 320px;
    margin-left: 0px;
    height: 500px;
  }

}







.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
  z-index: 999999;
}

.popup {
  margin: 70px auto;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 120px;
  background: #fff;
  border-radius: 5px;
  width: 48%;
  position: relative;
  transition: all 5s ease-in-out;
  
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #E73786;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


/* form { max-width:420px; margin:50px auto; } */

.feedback-input {
  color:black;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 15px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #7E7E7E;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  /* width:100%; */
  /* box-sizing: border-box; */
  outline:0;
}

.feedback-input:focus { 
  border:2px solid #E73786;
 }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

.submitbtn {
  font-family: 'Lato', sans-serif;
  width: 150px;
  /* background:#E73786; */
  border-radius:50px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
  /* margin-left: 330px; */

}


/* .submitbtn:hover { 
  background:#7E7E7E;
 } */

.section3{
  height: 60vh;
  /* background-image: url("./img/footer.png")  ; */
  /* position: relative; */
}
.footerBackGroundColor{
  background-color: #1F2040;

}

.socials-wrapper > h2 {
  background: #fff;
  color: #3e3f5e;
  font-size: 1rem;
  position: relative;
  text-align: center;
  z-index: 10;
}
.socials-wrapper > h2:before,
.socials-wrapper > h2:after {
  background: #d3d3e2;
  content: "";
  display: block;
  height: 0.1em;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 17.5%;
}
.socials-wrapper > h2:before {
  left: 0;
}
.socials-wrapper > h2:after {
  right: 0;
}
.socials-wrapper > ul {
  display: -webkit-box;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 0;
}
.socials-wrapper > ul > li {
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.socials-wrapper > ul > li > a {
  -webkit-box-align: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  display: -webkit-box;
  height: 2em;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  -webkkit-transition: all 300ms ease;
  transition: all 300ms ease;
  width: 2em;
  /* padding: 10px;
   padding-left: 13px;
    padding-right: 13px;  */

}
.socials-wrapper > ul > li > a.facebook {
  background: #3763d2;

}
.socials-wrapper > ul > li > a.twitter {
  background: #E73786;
  /* width: 2em;
  height: 2em; */
}
.socials-wrapper > ul > li > a.instagram {
  background: #E73786;
  /* width: 2em;
  height: 2em; */
}
.socials-wrapper > ul > li > a.linkedin {
  background: #E73786;
  /* width: 2em;
  height: 2em; */
}
.socials-wrapper > ul > li > a:hover {
  -webkit-transform: translateY(-0.5em);
  transform: translateY(-0.5em);
}


/* 
# Counts
--------------------------------------------------------------*/ 
.counts {
  padding: 70px 0 60px;
}

.counts .count-box {
  display: flex;
  align-items: center;
  padding: 30px;
  width: 100%;
  background: #fff;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
}

.counts .count-box i {
  font-size: 42px;
  line-height: 0;
  margin-right: 20px;
  color: #4154f1;
}

.counts .count-box span {
  font-size: 36px;
  display: block;
  font-weight: 600;
  color: #0b198f;
}

.counts .count-box p {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
}

/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.features .feature-box {
  padding: 24px 20px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  transition: 0.3s;
  height: 100%;
}

.features .feature-box h3 {
  font-size: 18px;
  color: #012970;
  font-weight: 700;
  margin: 0;
}

.features .feature-box i {
  line-height: 0;
  background: #ecf3ff;
  padding: 4px;
  margin-right: 10px;
  font-size: 24px;
  border-radius: 3px;
  transition: 0.3s;
}

.features .feature-box:hover i {
  background: #4154f1;
  color: #fff;
}

.features .feture-tabs {
  margin-top: 120px;
}

.features .feture-tabs h3 {
  color: #012970;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .features .feture-tabs h3 {
    font-size: 28px;
  }
}

.features .feture-tabs .nav-pills {
  border-bottom: 1px solid #eee;
}

.features .feture-tabs .nav-link {
  background: none;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  color: #012970;
  padding: 12px 0;
  margin-right: 25px;
  margin-bottom: -2px;
  border-radius: 0;
}

.features .feture-tabs .nav-link.active {
  color: #4154f1;
  border-bottom: 3px solid #4154f1;
}

.features .feture-tabs .tab-content h4 {
  font-size: 18px;
  margin: 0;
  font-weight: 700;
  color: #012970;
}

.features .feture-tabs .tab-content i {
  font-size: 24px;
  line-height: 0;
  margin-right: 8px;
  color: #4154f1;
}

.features .feature-icons {
  margin-top: 120px;
}

.features .feature-icons h3 {
  color: #012970;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .features .feature-icons h3 {
    font-size: 28px;
  }
}

.features .feature-icons .content .icon-box {
  display: flex;
}

.features .feature-icons .content .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 10px 0;
  color: #012970;
}

.features .feature-icons .content .icon-box i {
  font-size: 44px;
  line-height: 44px;
  color: #0245bc;
  margin-right: 15px;
}

.features .feature-icons .content .icon-box p {
  font-size: 15px;
  color: #848484;
}
/* 
.hero3 {
  min-height: 50vh;
}
.counters {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 60vh;
}

.counter-container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  background-color: #e9b372;
  align-items: center;
  height: 200px;
}
.counters .counter-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.i-contianer {
  margin-right: 70px;
  margin-left: 70px;
  width: 130px;
}
.counter i {
  margin-bottom: 5px;
}
.counters .counter {
  font-size: 35px;
  color: white;
  margin-left: 8px;
}
.counter-title {
  font-size: 15px;
  color: #ffffff;
  margin-left: 10px;
  width: 150px;
}
.i-counter {
  color: white;
}


@media (max-width: 700px) {
  .counters .counter-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .counters .counter-container > div:nth-of-type(1),
  .counters .counter-container > div:nth-of-type(2) {
    border-bottom: 1px solid;
    padding-bottom: 20px;
  }
} */

.serving .container .mainbox {
  transition: all 0.35s ease-in-out;
}
.serving .container .mainbox:hover {
  transform: translateY(-15px);
}
.serving .container .mainbox > div.cr1 {
  background-color: #1F2040;
  box-shadow: 0px -10px 0px rgba(31, 32, 64, 0.5);
}
.serving .container .mainbox > div.cr2 {
  background-color: #2E2F60;
  box-shadow: 0px -10px 0px rgba(46, 47, 96, 0.5);
}
.serving .container .mainbox > div.cr3 {
  background-color: #494A97;
  box-shadow: 0px -10px 0px rgba(73, 74, 151, 0.5);
}
.serving .container .mainbox > div.cr4 {
  background-color: #5A5BAF;
  box-shadow: 0px -10px 0px rgba(90, 91, 175, 0.5);
}
.serving .container .mainbox > div.cr5 {
  background-color: #9F9FD1;
  box-shadow: 0px -10px 0px rgba(159, 159, 209, 0.5);
}
.serving .container .mainbox > div:nth-of-type(1) {
  padding: 15px 0;
  border-radius: 25px 25px 0 0;
}
.serving .container .mainbox > div:nth-of-type(1) h5 {
  margin-bottom: 0;
  color: #fff;
  text-align: center;
}
.serving .container .mainbox > div:nth-of-type(2) {
  padding: 30px 20px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 5px 5px #ddd;
  border-radius: 0 0 25px 25px;
  position: relative;
}
.serving .container .mainbox > div:nth-of-type(2):hover:after {
  height: 100%;
}
.serving .container .mainbox > div:nth-of-type(2)::after {
  content: " ";
  width: 100%;
  height: 0%;
  top: 0;
  left: 0;
  position: absolute;
  border-radius: 0 0 25px 25px;
  transition: all 0.35s ease-in-out;
}
.serving .container .mainbox > div:nth-of-type(2).afr1::after {
  background-color: #1F2040;
}
.serving .container .mainbox > div:nth-of-type(2).afr2::after {
  background-color: #2E2F60;
}
.serving .container .mainbox > div:nth-of-type(2).afr3::after {
  background-color: #494A97;
}
.serving .container .mainbox > div:nth-of-type(2).afr4::after {
  background-color: #5A5BAF;
}
.serving .container .mainbox > div:nth-of-type(2).afr5::after {
  background-color: #9F9FD1;
}
.serving .container .mainbox > div:nth-of-type(2) span {
  color: #7E7E7E;
  font-size: 60px;
  font-weight: bold;
  font-family: sans-serif;
  position: relative;
  z-index: 999999;
}

/* .serving .container .mainbox > div:nth-of-type(2) span::after {
  color: rgb(255, 255, 255);
  font-size: 60px;
  font-weight: bold;
  font-family: sans-serif;
  position: relative;
  z-index: 999999;
} */
@media (max-width: 576px) {
  .serving .container .mainbox > div:nth-of-type(2) span {
    font-size: 50px;
  }
}



@media (max-width: 992px) {
  .socials-wrapper > h2:after,
  .socials-wrapper > h2:before {
    width: 10.5%;
  }
}
@media (max-width: 767px) {
  .contact-wrapper {
    flex-direction: column;
  }
  .left_side,
  .right_side {
    width: 100%;
    padding: 0 3em;
  }
  .socials-wrapper > h2:after,
  .socials-wrapper > h2:before {
    width: 10.5%;
  }
}


/* Why loyalty  */

@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");


    .card123 {
      position: relative;
      width: 250px;
      height: 350px;
      /* margin: 0 auto; */
      background: #1F2040;
      border-radius: 15px;
      box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
    }
      .face {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
        .face1 {
          box-sizing: border-box;
          padding: 15px;
          

        }
          h2 {
            margin: 0;
            padding: 0;
          }

          .java {
            background-color: #E73786;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }

          .python {
            background-color: #E73786;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }

          .cSharp {
            background-color: #E73786;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        

        .face2 {
          transition: 0.5s;
        }
          h2 {
            margin: 0;
            padding: 0;
            font-size: 10em;
            color: #fff;
            transition: 0.5s;
            text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            z-index: 10;
          }

    .card123:hover .face.face2 {
      height: 80px;
      
    }
      h2 {
        font-size: 2em;
      }
    

    .card123:nth-child(1) .face.face2 {
      background-color: #F2F2F2;
      background-image: url(./img/review.svg) ;
      background-size: contain;
      background-repeat: no-repeat;
      border-radius: 15px;
      background-origin: content-box;
    }

    .card123:nth-child(2) .face.face2 {
      background-color: #F2F2F2;
      background-image: url(./img/coin.svg) ;
      background-size:  contain;
      background-repeat: no-repeat;
      border-radius: 15px;
      background-origin: content-box;
    }

    .card123:nth-child(3) .face.face2 {
      background-color: #F2F2F2;
      background-image: url(./img/profit.svg) ;
      background-size: contain;
      background-repeat: no-repeat;
      border-radius: 15px;
      background-origin: content-box;
    }
